body {
  background: paleGreen;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  color: paleGreen;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #555;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.catsComponent {
  height: 80vh;
}

.catsArray {
  height: 85%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.buttonContainer {
  margin-bottom: 0;
  height: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.btn {
  height: 4rem;
  width: 10rem;
  cursor: pointer;
  background: hotpink;
  color: white;
  border: 0;
  font-size: 1.5rem;
}

.btn:disabled {
  opacity: 0.2;
}

.tile {
  height: 8rem;
  width: 8rem;
  margin: 0.5rem;
  align-self: flex-start;
}

.tile img {
  height: 100%;
  width: 100%;
}
